# Default number of objects per page
PER_PAGES = 9

#Django secret key
SECRET_KEY = 'Define your secret key here.'

# 0 == False | 1 == True
DEBUG = 1



#Gerar senhas:
# python -c "import string as s;from random import SystemRandom as sr;print(''.join(sr().choices(s.ascii_letters + s.punctuation, k=64)))"